<h1>Data Progress</h1>
<%= link_to "View all companies", companies_path %>
</br>
</br>

<div id = "job-id-container">
	
</div>

<div id = "last_time">
 <%= Time.now %>
</div>
<div id="job_id"><%= @job_id%></div>
<div id="done"></div>


<script type="text/javascript">
    var timeOutId = 0;
	function tick() {
			var time_now = $("#last_time").text();
			var job_id =  $("#job_id").text();
            var finish_task = $("#done").text();
          if (finish_task == "done"){
            clearTimeout(timeOutId);
        } else {   
      var ajaxOpts = {
            type: "get",
            url: "/job_statuses",            
            data: {time : time_now, job_id : job_id},
            cache: false
                                   
        };}
    $.ajax(ajaxOpts);
    timeOutId = setTimeout('tick()', 1000);
   

    

}

$(document).ready(function() {
    tick();
});
</script>