<h1>Data Progress</h1>
<%= link_to "View all companies", companies_path %>
<p> Feel free to visit other portion of site. You can come back to same url after some time to see file parsing progress. 
</br>
</br>

<div style="height:700px;color:white;background-color: black;border:1px solid red;font:16px/26px Georgia, Garamond, Serif;padding: 10px;margin: 10px">
<div id = "job-id-container">
	
</div>


> Welcome!
<div id = "last_time">
<%= Time.now %>
</div>
<div id="job_id"><%= @job_id%></div>
<div id="done"></div>
<div style = "color:green">Please wait, starting job.....</div>
</div>
