<h1>Loading data ......</h1>

<div id = "job-id-container">
	Aditya
</div>
Last record updated on :
<div id = "last_time">
 <%= Time.now %>
</div>
<div id="job_id"><%= @job_id%></div>


<script type="text/javascript">
	function tick() {
			var time_now = $("#last_time").text();
			var job_id =  $("#job_id").text();
      var ajaxOpts = {
            type: "get",
            url: "/job_statuses",            
            data: {time : time_now, job_id : job_id},
            cache: false
                                   
        };
    $.ajax(ajaxOpts);
    
    
    setTimeout('tick()', 1000);
}

$(document).ready(function() {
    tick();
});
</script>